---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import pricing from "../data/pricing";
import hero from "../assets/img/heroes/DSC_0054-min.JPG";
---

<Layout>
  <section>
    <Image
      src={hero}
      alt="tigelas de comida e água"
      layout="full-width"
      fit="cover"
      style="max-height: 500px;"
    />
  </section>
  <section>
    <h1>Serviços &amp; Preços</h1>
    <p>
      A Brincão oferece o serviço de creche para o dia inteiro, ou apenas um
      turno, semanal ou mensal.
    </p>
    <p>
      Oferecemos também serviços de um hotel, para hospedagens mais longas e
      alojamentos, quando necessários.
    </p>
    <p>
      Além disso, os serviços da Brincão podem incluir busca e entrega, com dias
      e horários agendados, de acordo com as suas possibilidades.
    </p>
    <p>
      Serviços como banho e tosa devem ser providenciados diretamente pelo dono
      em petshop de sua preferência.
    </p>
  </section>

  <section>
    <h2>Horário</h2>
    <p>
      Oferece um horário amplo, das <strong>7h às 19h</strong>, ou
      personalizado, conforme sua necessidade.
    </p>
  </section>

  <section>
    <h2>Hospedagem</h2>
    <div class="grid">
      <article>
        <h3>R$ {pricing.hospedagem.diaria},00</h3>
        <footer>Diária</footer>
      </article>
      <article>
        <h3>R$ {pricing.hospedagem.dezoumais},00</h3>
        <footer>Diária de hospedagem por 10 dias ou mais</footer>
      </article>
      <article>
        <h3>R$ {pricing.hospedagem.finaldesemana},00</h3>
        <footer>Diária de hospedagem de final de semana</footer>
      </article>
    </div>
    <p>
      <strong>Obs:</strong> A diária é de 24 horas. Será acrescido R$15,00 por turno
      a mais.
    </p>
    <p>
      <strong>Exemplo:</strong> entrada sábado pela manhã e saindo domingo de tarde:
      R${pricing.hospedagem.diaria},00 + R$15,00 = R${
        pricing.hospedagem.diaria + 15
      },00
    </p>
  </section>

  <section>
    <h2>Valores individuais para a Creche</h2>
    <div class="grid">
      <article>
        <h3>R$ {pricing.individuais.umdiaria},00</h3>
        <footer>1 diária</footer>
      </article>

      <article>
        <h3>R$ {pricing.individuais.cincodias},00</h3>
        <footer>5 dias x semana</footer>
      </article>
    </div>
    <p>O segundo cãozinho tem 15% de desconto sobre o valor!</p>
    <p>Valores novos a partir de 1 de Novembro {pricing.year_updated}</p>
    <p>
      Para períodos maiores, ou necessidades específicas, os valores podem ser
      ajustados. <a href="/contato">Fale com a gente!</a>
    </p>
  </section>
</Layout>
